{
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "parser": "@babel/eslint-parser",
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier", "jest"],
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module"
  },
  "rules": {}
}
